<% include ../partials/header.ejs %>

  <% if (locals.user) { %>

    <section class="container">
      <section id="welcome" class="box">
        <div class="col-sm-12">
          <!-- Event detail -->
          <header>
            <h3><%=event.name%></h3>
            <p><%=event.place%> on <%=event.day%> at <%=event.time%></p>
          </header>
          <p><%=event.description%></p>
          <p>Organized: <a href="/<%=event.owner_username%>/profile"><% if (event.owner_id == user.href) { %> You <% } else { %> <%=event.owner%> <% } %></a></p>
          <p><%=event.member_name.length%> Joined.
          <%for (i = 0; i < event.member_name.length; i++){%><a href="/<%=event.member_username[i]%>/profile"><%=event.member_name[i]%></a><%if (i !=  event.member_name.length - 1) { %>, <% } } %></p>
        </div>
      </section>
    </section>
  <% } %>

<% include ../partials/footer.ejs %>
