<% include ../partials/header.ejs %>

	<section class="container">

		<header class="major">
			<h3>Administration Page</h3>
		</header>

		<div class="row">
			<div class="12u">
				<section class="box">
					<a>All Categories</a>
					<ul>
						<% types.forEach(function(types) { %>
							<li><%=types.name%></li>
						<% }); %>
					</ul>

					<!-- Add new Category -->
					<form action="/admin/event/type/add" method="post">
						<div class="row uniform 50%">
							<div class="12u">
								<a>Event Type</a>
								<input name="name" type="text" placeholder="Event type name">
							</div>
						</div>
						<div class="row uniform 50%">
							<div class="12u">
								<ul class="actions">
									<li><button type="submit" class="button" value="Submit">Add Event Type</button></li>
								</ul>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>

		<!-- List of Events -->
		<div class="tabel-wrapper">
			<% if (locals.event) { %>
				<table>
					<tbody>
						<% event.forEach(function(event) { %>
							<tr>
								<td>
									<header>
										<h4><a href="event/<%=event._id%>"><%=event.name%></a></h4>
										<p><%=event.place%> on <%=event.date%> at <%=event.timeStart%></p>
									</header>
									Organized: <a href="/<%=event.owner_username%>/profile"><% if (event.owner_id == user.href) { %> You <% } else { %> <%=event.owner%> <% } %></a></br>
									<%=event.member_name.length%> Joined.
									<%for (i = 0; i < event.member_name.length; i++){%><a href="/<%=event.member_username[i]%>/profile"><%=event.member_name[i]%></a><%if (i !=  event.member_name.length - 1) { %>, <% } } %>
								</td>
								<td>
									<form method="post" action="/event/feature/<%=event.id%>">
										<% if (event.feature==0) { %>
											<button type="submit" class="button special icon fa-thumb-tack">
												Feature
											</button>
										<% } else {%>
											<button type="submit" class="button icon fa-thumb-tack">
												Unfeature
											</button>
										<%}%>
									</form>
								</td>
								<td>
									<form method="post" action="/event/complete/<%=event.id%>">
										<% if (event.isCompleted==0) { %>
											<button type="submit" class="button icon fa-flag">
												Complete
											</button>
										<% } else {%>
											<button type="submit" class="button special icon fa-flag">
												Uncomplete
											</button>
										<%}%>
									</form>
								</td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			<% } %>
		</div>

	</section>

<% include ../partials/footer.ejs %>
