<% include ./partials/header.ejs %>

	<% if (locals.user) { %>

		<!-- Welcome -->
		<section class="container">
			<section id="eventFeature" class="box">
				<header class="major">
					<h2>Featured Events</h2>

					<ul>

						<div class="col-sm-4" align="right" style="float:right" >
							<span class="image featured"> <img src="images/basketball.png" alt=""  /> </span>
						</div>
						<div class="col-sm-4" align="left" style="float:left">
							<span class="image featured"> <img src="images/today.png" alt="" /> </span>
						</div>
						<div class="col-sm-4" align="center" style="float:right">
							<span class="image featured"> <img src="images/movie.png" alt=""/> </span>
						</div>

					</ul>

				</header>
				<!-- List of Feature Events -->
				<% if (locals.event) { %>
					<ul class="list-group">
						<% event.forEach(function(event) { %>
							<% if (event.feature==1) { %>
								<li class="list-group-item">
									<!-- Event information -->

									<div class="col-sm-10">
										<a href="event/<%=event._id%>"><%=event.name%>.</a> <br/>
										<%=event.type%>. <%=event.place%>. <br/>
										<b> On <%=event.day%> at <%=event.time%> </b><br/>
										Organized: <a href="/<%=event.owner_username%>/profile"><% if (event.owner_id == user.href) { %> You <% } else { %> <%=event.owner%> <% } %></a><br>
										<%=event.member_name.length%> Joined.
										<%for (i = 0; i < event.member_name.length; i++){%><a href="/<%=event.member_username[i]%>/profile"><%=event.member_name[i]%></a><%if (i !=  event.member_name.length - 1) { %>, <% } } %>
									</div>

									<!-- Event function -->
									<div class="col-sm-2">
										<% if (event.owner_id == user.href) { %>
											<form method="post" action="/event/delete/<%=event.id%>">
												<button type="submit" name="delete" class="btn btn-link">Delete</button>
											</form>
										<% } else if (event.member_username.indexOf(user.username) > -1 ) { %>
											<form method="post" action="/event/withdraw/<%=event.id%>">
												<button type="submit" name="withdraw" class="btn btn-link">Withdraw</button>
											</form>
										<% } else { %>
											<form method="post" action="/event/join/<%=event.id%>">
												<button type="submit" name="join" class="btn btn-link">Join</button>
											</form>
										<% } %>
									</div>
								</li>
							<% } %>
						<% }); %>
					</ul>
				<% } %>


			</section>
			<section id="eventAll" class="box">
				<!-- List of Events -->
				<% if (locals.event) { %>
				<h2>All Events</h2>
					<ul class="list-group">
						<% event.forEach(function(event) { %>
							<li class="list-group-item">

								<!-- Event information -->
								<div class="col-sm-10">
									<%=event.type%>: <%=event.name%>, <%=event.place%>.<br/>
									<b> On <%=event.day%> at <%=event.time%> </b><br/>
									Organized: <a href="/<%=event.owner_username%>/profile"><% if (event.owner_id == user.href) { %> You <% } else { %> <%=event.owner%> <% } %></a><br>
									<%=event.member_name.length%> Joined.
									<%for (i = 0; i < event.member_name.length; i++){%><a href="/<%=event.member_username[i]%>/profile"><%=event.member_name[i]%></a><%if (i !=  event.member_name.length - 1) { %>, <% } } %>
								</div>

								<!-- Event function -->
								<div class="col-sm-2">
									<% if (event.owner_id == user.href) { %>
										<form method="post" action="/event/delete/<%=event.id%>">
                      <button type="submit" name="delete" class="btn btn-link">Delete</button>
                    </form>
									<% } else if (event.member_username.indexOf(user.username) > -1 ) { %>
										<form method="post" action="/event/withdraw/<%=event.id%>">
											<button type="submit" name="withdraw" class="btn btn-link">Withdraw</button>
										</form>
									<% } else { %>
										<form method="post" action="/event/join/<%=event.id%>">
											<button type="submit" name="join" class="btn btn-link">Join</button>
										</form>
									<% } %>
								</div>

							</li>
						<% }); %>
					</ul>
				<% } %>
			</section>
		</section>

	<% } else { %>

		<!-- Title Banner -->
		<section id="banner">
			<h2>We•Chilling</h2>
			<p>A matchmaking app for social activities</p>
			<ul class="actions">
				<li><a href="/login" class="button"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a></li>
				<li><a href="/register" class="button"><i class="fa fa-user" aria-hidden="true"></i> Sign Up</a></li>
			</ul>
		</section>

		<!-- Introduction -->
		<section id="main" class="container">
			<section id="introduction" class="box special">
				<header class="major">
					<h2>Introducing the ultimate app
					<br />
					for getting the most out of your free time</h2>
					<p>Know what your friends are doing. Post whatever you feel like doing<br />
					and connect with people who are interested in doing the same.</p>
				</header>
				<span class="image featured"></span>
			</section>

			<section class="box special features">
				<div class="features-row">
					<section>
						<span class="icon major fa-futbol-o accent2"></span>
						<h3>Sports</h3>
						<p>Interested in playing sports with people who play just like you? Pick-up Basketball, Soccer, Pool and Chess matches divided by players' ability.</p>
					</section>
					<section>
						<span class="icon major fa-book accent3"></span>
						<h3>Study Groups</h3>
						<p>Do you have a CS midterm coming up and are you looking for people to study together? Group studies divided by subjects and learning styles</p>
					</section>
				</div>
				<div class="features-row">
					<section>
						<span class="icon major fa-film accent4"></span>
						<h3>Cultural Events</h3>
						<p>Staying on campus during a break and looking for people to watch a movie or go to the theater together? See who's up for a cultural event.</p>
					</section>
					<section>
						<span class="icon major fa-code accent5"></span>
						<h3>Project Groups</h3>
						<p>Do you have a great idea for an app or are you looking for people to discuss a Business case? See who's also looking for help with projects</p>
					</section>
				</div>
			</section>
		</section>
	<% } %>

	<!-- CTA -->
	<!-- <section id="cta">

		<h2>Sign up for our newsletter</h2>
		<p>Be the first to know about updates, new functionalities and what our dev team is working on.</p>

		<form>
			<div class="row uniform 50%">
				<div class="8u 12u(mobilep)">
					<input type="email" name="email" id="email" placeholder="Email Address" />
				</div>
				<div class="4u 12u(mobilep)">
					<input type="submit" value="Sign Up" class="fit" />
				</div>
			</div>
		</form>

	</section> -->

<% include ./partials/footer.ejs %>
