<% include ./partials/header.ejs %>

	<% if (locals.user) { %>

		<!-- Welcome -->
		<section class="container">
			<section id="eventFeature" class="box">

				<% include ./partials/highlight.ejs %>

				<% if (locals.event) { %>
					<div class="tabel-wrapper">
						<!-- Featured and Matched Events -->
						<table>
							<tbody>
								<% event.forEach(function(event) { %>
									<% if (event.feature==1) {%>
										<tr>
											<td class="8u">
												<header>
													<span class="image left">
														<a href="/event/<%=event._id%>"><img height="120" src="images/types/<%=event.type%>.png"></a>
													</span>
													<a href="/event/<%=event._id%>"><%=event.name%></a>
													<p><%=event.place%> on <%=event.date%> at <%=event.timeStart%></p>
												</header>
												Organized: <a href="/<%=event.owner_username%>/profile"><% if (event.owner_id == user.href) { %> You <% } else { %> <%=event.owner%> <% } %></a></br>
												<%=event.member_name.length%> Joined.
												<%for (i = 0; i < event.member_name.length; i++){%><a href="/<%=event.member_username[i]%>/profile"><%=event.member_name[i]%></a><%if (i !=  event.member_name.length - 1) { %>, <% } } %>
											</td>
											<td class="2u">
												<% if (event.owner_id == user.href) { %>
													<a href="/event/delete/<%=event.id%>" class="button alt fit icon fa-trash">Delete</a>
												<% } else if (event.member_username.indexOf(user.username) > -1 ) { %>
													<a href="/event/withdraw/<%=event.id%>" class="button fit icon fa-sign-out">Withdraw</a>
												<% } else { %>
														<a href="/event/join/<%=event.id%>" class="button special fit icon fa-star">Join</a>
												<% } %>
											</td>
										</tr>
									<% } %>
								<% }); %>
								<% event.forEach(function(event) { %>
									<% if (event.feature==0) { %>
										<% if (userdata.interests && userdata.freeDay) { %>
											<% if (userdata.interests.includes(event.type) || userdata.freeDay.includes(event.day)) { %>
												<tr>
													<td class="8u">
														<header>
															<span class="image left">
																<a href="/event/<%=event._id%>"><img height="120px" src="images/types/<%=event.type%>.png"></a>
															</span>
															<a href="/event/<%=event._id%>"><%=event.name%></a>
															<p><%=event.place%> on <%=event.date%> at <%=event.timeStart%></p>
														</header>
														Organized: <a href="/<%=event.owner_username%>/profile"><% if (event.owner_id == user.href) { %> You <% } else { %> <%=event.owner%> <% } %></a></br>
														<%=event.member_name.length%> Joined.
														<%for (i = 0; i < event.member_name.length; i++){%><a href="/<%=event.member_username[i]%>/profile"><%=event.member_name[i]%></a><%if (i !=  event.member_name.length - 1) { %>, <% } } %>
													</td>
													<td class="2u">
															<% if (event.owner_id == user.href) { %>
																<a href="/event/delete/<%=event.id%>" class="button alt fit icon fa-trash">Delete</a>
															<% } else if (event.member_username.indexOf(user.username) > -1 ) { %>
																<a href="/event/withdraw/<%=event.id%>" class="button fit icon fa-sign-out">Withdraw</a>
															<% } else { %>
																<a href="/event/join/<%=event.id%>" class="button special fit icon fa-star">Join</a>
															<% } %>
													</td>
												</tr>
											<% } %>
										<% } %>
									<% } %>
								<% }); %>
							</tbody>
						</table>
						<!-- Non-matched Events -->
						<table>
							<tbody>
								<% event.forEach(function(event) { %>
									<% if (event.feature==0) {%>
										<% if (userdata.interests && userdata.freeDay) { %>
											<% if (!userdata.interests.includes(event.type) && !userdata.freeDay.includes(event.day)) { %>
												<tr>
													<td class="8u">
														<header>
															<span class="image left">
																<a href="/event/<%=event._id%>"><img height="120" src="images/types/<%=event.type%>.png"></a>
															</span>
															<a href="/event/<%=event._id%>"><%=event.name%></a>
															<p><%=event.place%> on <%=event.date%> at <%=event.timeStart%></p>
														</header>
														Organized: <a href="/<%=event.owner_username%>/profile"><% if (event.owner_id == user.href) { %> You <% } else { %> <%=event.owner%> <% } %></a></br>
														<%=event.member_name.length%> Joined.
														<%for (i = 0; i < event.member_name.length; i++){%><a href="/<%=event.member_username[i]%>/profile"><%=event.member_name[i]%></a><%if (i !=  event.member_name.length - 1) { %>, <% } } %>
													</td>
													<td class="2u">
														<% if (event.owner_id == user.href) { %>
															<a href="/event/delete/<%=event.id%>" class="button alt fit icon fa-trash">Delete</a>
														<% } else if (event.member_username.indexOf(user.username) > -1 ) { %>
															<a href="/event/withdraw/<%=event.id%>" class="button fit icon fa-sign-out">Withdraw</a>
														<% } else { %>
																<a href="/event/join/<%=event.id%>" class="button special fit icon fa-star">Join</a>
														<% } %>
													</td>
												</tr>
											<% } %>
										<% } %>
									<% } %>
								<% }); %>
							</tbody>
						</table>
						<!-- No interests or free days yet -->
						<table>
							<tbody>
								<% event.forEach(function(event) { %>
									<% if (event.feature==0) {%>
										<% if (!userdata.interests || !userdata.freeDay) { %>
											<tr>
													<td class="8u">
														<header>
															<span class="image left">
																<a href="/event/<%=event._id%>"><img height="120" src="images/types/<%=event.type%>.png"></a>
															</span>
															<a href="/event/<%=event._id%>"><%=event.name%></a>
															<p><%=event.place%> on <%=event.date%> at <%=event.timeStart%></p>
														</header>
														Organized: <a href="/<%=event.owner_username%>/profile"><% if (event.owner_id == user.href) { %> You <% } else { %> <%=event.owner%> <% } %></a></br>
														<%=event.member_name.length%> Joined.
														<%for (i = 0; i < event.member_name.length; i++){%><a href="/<%=event.member_username[i]%>/profile"><%=event.member_name[i]%></a><%if (i !=  event.member_name.length - 1) { %>, <% } } %>
													</td>
													<td class="2u">
														<% if (event.owner_id == user.href) { %>
															<a href="/event/delete/<%=event.id%>" class="button alt fit icon fa-trash">Delete</a>
														<% } else if (event.member_username.indexOf(user.username) > -1 ) { %>
															<a href="/event/withdraw/<%=event.id%>" class="button fit icon fa-sign-out">Withdraw</a>
														<% } else { %>
																<a href="/event/join/<%=event.id%>" class="button special fit icon fa-star">Join</a>
														<% } %>
													</td>
												</tr>
										<% } %>
									<% } %>
								<% }); %>
							</tbody>
						</table>

					</div>
				<% } %>
			</section>
		</section>

	<% } else { %>

		<!-- Title Banner -->


		<section id="video-landing">
			<video autoplay="autoplay" loop="loop" id="bgvid">
    			<source src="background-vid.mp4" type="video/mp4" />
    		</video>

    		<section id="video-text">
    			<img src="images/logo1.png" id="logo-banner">
				<p>A matchmaking app for social activities</p>
				<ul class="actions">
					<li><a href="/login" class="button style"></i>COME CHILL</a></li>
				</ul>
			</section>

		</section>

		<!-- Introduction -->
		<section id="main" class="container">
			<section id="introduction" class="box special">
				<header class="major">
					<h2>Introducing the ultimate app
					<br />
					for getting the most out of your free time</h2>
					<p>Know what your friends are doing. Post whatever you feel like doing<br />
					and connect with people who are interested in doing the same.</p>
				</header>
				<span class="image featured"></span>
			</section>

			<section class="box special features">
				<div class="features-row">
					<section>
						<span class="icon major fa-futbol-o accent2"></span>
						<h3>Sports</h3>
						<p>Interested in playing sports with people who play just like you? Pick-up Basketball, Soccer, Pool and Chess matches divided by players' ability.</p>
					</section>
					<section>
						<span class="icon major fa-book accent3"></span>
						<h3>Study Groups</h3>
						<p>Do you have a CS midterm coming up and are you looking for people to study together? Group studies divided by subjects and learning styles</p>
					</section>
				</div>
				<div class="features-row">
					<section>
						<span class="icon major fa-film accent4"></span>
						<h3>Cultural Events</h3>
						<p>Staying on campus during a break and looking for people to watch a movie or go to the theater together? See who's up for a cultural event.</p>
					</section>
					<section>
						<span class="icon major fa-code accent5"></span>
						<h3>Project Groups</h3>
						<p>Do you have a great idea for an app or are you looking for people to discuss a Business case? See who's also looking for help with projects</p>
					</section>
				</div>
			</section>
		</section>
	<% } %>

	<!-- CTA -->
	<!-- <section id="cta">

		<h2>Sign up for our newsletter</h2>
		<p>Be the first to know about updates, new functionalities and what our dev team is working on.</p>

		<form>
			<div class="row uniform 50%">
				<div class="8u 12u(mobilep)">
					<input type="email" name="email" id="email" placeholder="Email Address" />
				</div>
				<div class="4u 12u(mobilep)">
					<input type="submit" value="Sign Up" class="fit" />
				</div>
			</div>
		</form>

	</section> -->

<% include ./partials/footer.ejs %>
