<% include ./partials/header.ejs %>

	<!-- Welcome -->
	<section class="container">
		<!-- Highlighted Categories -->
		<div class="box alt">
			<div class="row no-collapse 50% uniform">
				<div class="4u">
					<span class="image fit">
						<img src="/images/today.png" alt=""/>
					</span>
				</div>
				<div class="4u">
					<span class="image fit">
						<img src="/images/movie.png" alt=""/>
					</span>
				</div>
				<div class="4u">
					<span class="image fit">
						<img src="/images/basketball.png" alt=""/>
					</span>
				</div>
			</div>
		</div>

		<!-- Searched Events -->
		<% if (locals.searchedEvents) { %>
			<div class="tabel-wrapper">
				<table>
					<tbody>
						<% searchedEvents.forEach(function(event) { %>
							<tr>
								<td class="8u">
									<header>
										<h4><a href="/event/<%=event._id%>"><%=event.name%></a></h4>
										<p><%=event.place%> on <%=event.day%> at <%=event.timeStart%></p>
									</header>
									Organized: <a href="/<%=event.owner_username%>/profile"><% if (event.owner_id == user.href) { %> You <% } else { %> <%=event.owner%> <% } %></a></br>
									<%=event.member_name.length%> Joined.
									<%for (i = 0; i < event.member_name.length; i++){%><a href="/<%=event.member_username[i]%>/profile"><%=event.member_name[i]%></a><%if (i !=  event.member_name.length - 1) { %>, <% } } %>
								</td>
								<td class="2u">
									<% if (event.owner_id == user.href) { %>
										<a href="/event/delete/<%=event.id%>" class="button alt fit icon fa-trash">Delete</a>
									<% } else if (event.member_username.indexOf(user.username) > -1 ) { %>
										<a href="/event/withdraw/<%=event.id%>" class="button fit icon fa-sign-out">Withdraw</a>
									<% } else { %>
										<a href="/event/join/<%=event.id%>" class="button special fit icon fa-star">Join</a>
									<% } %>
								</td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		<% } %>
	</section>

<% include ./partials/footer.ejs %>
