<% include ../partials/header.ejs %>

  <section class="container">
    <section id="welcome" class="box">
					<div class="tabel-wrapper">
						<table>
							<tbody>
      <!-- List of Events -->
      <% if (locals.userevent.length > 0) { %>
        <ul class="list-group">
          <% userevent.forEach(function(event) { %>
											<tr>
											<td class="8u">
												<header>
													<h4><a href="/event/<%=event._id%>"><%=event.name%></a></h4>
													<p><%=event.place%> on <%=event.date%> at <%=event.timeStart%></p>
												</header>
												Organized: <a href="/<%=event.owner_username%>/profile"><% if (event.owner_id == user.href) { %> You <% } else { %> <%=event.owner%> <% } %></a></br>
												<%=event.member_name.length%> Joined.
												<%for (i = 0; i < event.member_name.length; i++){%><a href="/<%=event.member_username[i]%>/profile"><%=event.member_name[i]%></a><%if (i !=  event.member_name.length - 1) { %>, <% } } %>
											</td>
											<td class="2u">
												<% if (event.owner_id == user.href) { %>
													<a href="/event/delete/<%=event.id%>" class="button special fit icon fa-trash">Delete</a>
												<% } else if (event.member_username.indexOf(user.username) > -1 ) { %>
													<a href="/event/withdraw/<%=event.id%>" class="button fit icon fa-sign-out">Withdraw</a>
												<% } else { %>
													<a href="/event/join/<%=event.id%>" class="button special fit icon fa-star">Join</a>
												<% } %>
											</td>
					            <td class="2u">
						            <!-- 2. Include script -->
						            <script type="text/javascript">
						            	(function () {
				                    if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
				                    if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
				                        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
				                        s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
				                        s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
				                        var h = d[g]('body')[0];h.appendChild(s); }})();
						            </script>
						            <!-- 3. Place event data -->
					              <span class="addtocalendar atc-style-button-icon">
								        <a class="atcb-link button special icon fa-calendar">Add to Calendar</a>
								        <var class="atc_event">
								        		<%
								            var date1 = new Date (event.date);
								            date1.setHours(event.timeStart.match(/^(\d+)/)[1], event.timeStart.match(/:(\d+)/)[1], 0);
								            var date2 = new Date (event.date);
								            date2.setHours(event.timeEnd.match(/^(\d+)/)[1], event.timeEnd.match(/:(\d+)/)[1], 0);
								            var AMPM1 = event.timeStart.match(/\s(.*)$/)[1];
								            var AMPM2 = event.timeEnd.match(/\s(.*)$/)[1];
														if(AMPM1 == "PM" && date1.getHours() <12) date1.setHours(date1.getHours() + 12);
														if(AMPM1 == "AM" && date1.getHours() ==12) date1.setHours(date1.getHours() - 12);
														if(AMPM2 == "PM" && date2.getHours() <12) date2.setHours(date2.getHours() + 12);
														if(AMPM2 == "AM" && date2.getHours() ==12) date2.setHours(date2.getHours() - 12);
														var sdate1 = date1.getFullYear()+"-"+(date1.getMonth()+1)+"-"+date1.getDate()+" "+date1.getHours()+":"+date1.getMinutes()+":"+date1.getSeconds();
								            var sdate2 = date2.getFullYear()+"-"+(date2.getMonth()+1)+"-"+date2.getDate()+" "+date2.getHours()+":"+date2.getMinutes()+":"+date2.getSeconds();
								            %>
								            <var class="atc_date_start"><%=sdate1%></var>
								            <var class="atc_date_end"><%=sdate2%></var>
								            <var class="atc_timezone">America/New_York</var>
								            <var class="atc_title"><%=event.name%></var>
								            <var class="atc_description"><%=event.description%></var>
								            <var class="atc_location"><%=event.place%></var>
								            <var class="atc_organizer"><%=event.owner%></var>
								        </var>
								    		</span>
					            </td>
										</tr>
          <% }); %>
        </ul>
      <% } else { %>
        You did not create or joined any event.
      <% } %>

							</tbody>
						</table>
					</div>
    </section>
  </section>

<% include ../partials/footer.ejs %>
