<% include ../partials/header.ejs %>

  <% if (userid == locals.userdata.username) { %>

    <section class="container">
      <div class="row">
        <div class="12u">
          <section class="box">
            <form action="/<%=locals.userdata.username%>/profile/edit" method="post">
              <!-- 1st row: username and email -->
              <div class="row uniform 50%">
                <div class="6u 12u(mobilep)">
                  <a>Username</a>
                  <input name="username" type="text" value="<%=locals.userdata.username%>" readonly>
                </div>
                <div class="6u 12u(mobilep)">
                  <a>Email</a>
                  <input name="email" type="text" value="<%=locals.userdata.email%>" readonly>
                </div>
              </div>
              <!-- 2nd row: firstname and lastname               -->
              <div class="row uniform 50%">
                <div class="6u 12u(mobilep)">
                  <a>First Name</a>
                  <input name="firstname" type="text" value="<%=locals.userdata.firstname%>" readonly>
                </div>
                <div class="6u 12u(mobilep)">
                  <a>Last Name</a>
                  <input name="lastname" type="text" value="<%=locals.userdata.lastname%>" readonly>
                </div>
              </div>
              <!-- 3rd row: college and classyear -->
              <div class="row uniform 50%">
                <div class="6u 12u(mobilep)">
                  <a>Residential College</a>
                  <input name="college" type="text" placeholder="College" value="<%=locals.userdata.college%>">
                </div>
                <div class="6u 12u(mobilep)">
                  <a>Class Year</a>
                  <input name="classyear" type="text" placeholder="Class Year" value="<%=locals.userdata.classyear%>">
                </div>
              </div>
              <!-- 4th row: phone and interests -->
              <div class="row uniform 50%">
                <div class="6u 12u(mobilep)">
                  <a>Phone Number</a>
                  <input name="phone" type="text" placeholder="Phone Number" value="<%=locals.userdata.phone%>">
                </div>
              </div>
              <!-- 5th row: Interests -->
              <div class="row uniform 50%">
                <div class="12u">
                  <a>Interests</a>
                  <input id="tags" class="tags" name="interests" type="text" placeholder="Interests" value="<%=locals.userdata.interests%>">
                  <script type="text/javascript">
                    $('.tags').tagsInput();
                  </script>
                </div>
              </div>
              <!-- Submit button -->
              <div class="row uniform 50%">
                <div class="12u">
                  <ul class="actions">
                    <li><button type="submit" class="button" value="Submit">Save Changes</button></li>
                  </ul>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </section>

    <% } else { %>

      <section class="container">
        <br>
        <section id="welcome" class="box">
          <div class="col-sm-12">
            <div class="card card-block">
              <div class="input-group mb-2 mr-sm-2 mb-sm-2">
                <div style="width: 150px" class="input-group-addon"><a>Username</a></div>
                <input class="form-control" name="username" type="text" placeholder="Username" value="<%=locals.userdata.username%>" disabled>
              </div>
              <div class="input-group mb-2 mr-sm-2 mb-sm-2">
                <div style="width: 150px" class="input-group-addon"><a>Name</a></div>
                <input class="form-control" name="firstname" type="text" placeholder="Name" value="<%=locals.userdata.firstname%> <%=locals.userdata.lastname%>" disabled>
              </div>
              <div class="input-group mb-2 mr-sm-2 mb-sm-2">
                <div style="width: 150px" class="input-group-addon"><a>E-mail</a></div>
                <input class="form-control" name="email" type="text" placeholder="E-mail" value="<%=locals.userdata.email%>" disabled>
              </div>
              <div class="input-group mb-2 mr-sm-2 mb-sm-2">
                <div style="width: 150px" class="input-group-addon"><a>Class Year</a></div>
                <input class="form-control" name="class" type="text" placeholder="Class Year" value="<%=locals.userdata.classyear%>" disabled>
              </div>
              <div class="input-group mb-2 mr-sm-2 mb-sm-2">
                <div style="width: 150px" class="input-group-addon"><a>Residential College</a></div>
                <input class="form-control" name="college" type="text" placeholder="Residential College" value="<%=locals.userdata.college%>" disabled>
              </div>
              <div class="input-group mb-2 mr-sm-2 mb-sm-2">
                <div style="width: 150px" class="input-group-addon"><a>Phone Number</a></div>
                <input class="form-control" name="phone" type="text" placeholder="Phone Number" value="<%=locals.userdata.phone%>" disabled>
              </div>
              <div class="input-group mb-2 mr-sm-2 mb-sm-2">
                <div style="width: 150px" class="input-group-addon"><a>Interests</a></div>
                <input class="form-control" name="interests" type="text" placeholder="Interests" value="<%=locals.userdata.interests%>" disabled>
              </div>
            </div>
          </div>
        </section>
      </section>

  <% } %>

<% include ../partials/footer.ejs %>
